<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataSource" value="."/>
    <add key="DataBase" value="Company"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="sql2008"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600"/>
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>